.AboutP-container {
    background-color: #e1e4d2;
    position: relative;
    z-index: 1;
    width: 90%;
    height: 50vh;
    margin: auto;
    height: auto;
    color: black;
   
}

.decorAboutTitle {
    font-size: 32px;
    color:rgb(136, 95, 129);
    
}
.informationServices-about {
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: rgb(87, 53, 75);
    letter-spacing: 0.5px;
    line-height: 2rem;  
    padding: 2rem;
}

.colum-about{
   
    text-align: center;
   
} 
 .circle {
     margin-top: 0.5rem;
     width: 70%;
  
 }
.colum-img1 {
   
    background-image: url(../images/crop4.png);
    background-size: 50% ;
    background-repeat: no-repeat;
    background-position:center;
    /* background-clip: content-box; */
   
}

.colum-img2 {
    background-image: url(../images/crop6.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


  .small-about {
    background-image: url(../images/crop5.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .colum-img3 {
    background-image: url(../images/crop3.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.colum-img4 {
    background-image: url(../images/crop2.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


  .small-about2 {
    background-image: url(../images/crop1.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* @media (min-width: 270px) and (max-width:767px) {
  
    .informationServices-about {
        font-size: 12px;
        font-family: 'Playfair Display', serif;;
        color: rgb(126, 125, 125);
        letter-spacing: 0.5px;
        line-height: 1.2rem; 
    }
   
    .colum-img1, .colum-img2, .small-about, .colum-img3, .colum-img4, .small-about2 {
      
        height: 300px;
       
    }
    
}   */ */
  h3 {
    font-family: 'Playfair Display', serif;
 } 


 @media (min-width: 768px)  {
   .servicesAbout-container {
       width: 100%;
       height: auto;
   }
    .small-about {
        display:none;
    }
}  

@media (min-width: 1024px)  {
    .servicesAbout-container {
        width: 100%;
        height: auto;
    }  
    .small-about,  .small-about2 {
        display:none;
    }
    .informationServices-about {
      
        font-size: 20px;
    
        letter-spacing: 0.5px;
        line-height: 2.5rem; 
        height: auto;
    } 
}  
@media (min-width: 1400px)  {
    .decorAboutTitle {
        padding-top:4rem;
    }
    
    .small-about, .small-about2 {
        display:none;
    } 
    .informationServices-about {
   
        font-size: 24px;
        line-height: 3.5rem; 
    }

}  
  .last {
      margin-bottom: 1rem;
  }

  @media (min-width: 2560px)  {
    .decorAboutTitle {
        padding-top:8rem;
        font-size: 62px;
    }
    
    .small-about, .small-about2 {
        display:none;
    } 
    .informationServices-about {
        padding-top: 10rem;
        font-size: 44px;
        line-height: 6rem; 
    }

}  
  .last {
      margin-bottom: 10rem;
  }
