.servicesAbout-container {

    width: 100%;
   
    position: relative;
    background-image: url(../images/pawel-czerwinski-qztBRIrU1FM-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: auto;
    margin: auto;
    color: black;
    z-index: 1;

}
.second-about-container {
    width:80%;
  
    margin: auto;
}

.decorAboutTitle {
    padding-bottom: 1rem;
    font-size: 32px;
    color: rgb(44, 23, 32);
    letter-spacing: 0.5px; 
}
.informationServices-about {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    background-color: rgb(243, 226, 241);
    color: rgb(87, 53, 75);
    letter-spacing: 0.5px;
    line-height: 2rem;  
    padding: 2rem;
    text-align: justify;

}

.colum-about{
 
  display:inline-block;
text-align: center;

} 

/* .first-hero {
    object-fit: cover;
    width:100%;
    height:40vh;

} */
 /* .circle {
     margin-top: 1rem;
     width: 70%;
  
 } */
.colum-img1 {
    width: 50%;
    height: auto;
   
    background-image: url(../images/stuff1_ccexpress.jpeg);
    background-size: 50% ;
    background-repeat: no-repeat;
    background-position:center;
    /* background-clip: content-box; */
   
}

.colum-img2 {
    width: 50%;
    height: auto;
    background-image: url(../images/stuff2_ccexpress.jpeg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


  .small-about {
    width: 50%;
    height: auto;
    background-image: url(../images/stuff3_ccexpress.jpeg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .colum-img3 {
    width: 50%;
    height: auto;
    background-image: url(../images/stuff_ccexpress.jpeg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.colum-img4 {
    width: 50%;
    height: auto;
    background-image: url(../images/rsz_1rsz_michael-dagonakis-c-sbcqkapls-unsplash.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


  .small-about2 {
    background-image: url(../images/rsz_m-brauer-yeymnafuyvm-unsplash_ccexpress.jpeg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

  h3 {
      
    font-family: 'Playfair Display', serif;
 } 


 /* @media (min-width: 768px)  {

    .small-about {
        display:none;
    }
}   */

@media (min-width: 1024px)  {

    .small-about,  .small-about2 {
        display:none;
    }
    .informationServices-about {
      
        font-size: 20px;
    
        letter-spacing: 0.5px;
        line-height: 2rem; 
        height: auto;
    } 
}  
@media (min-width: 1400px)  {
    .decorAboutTitle {
        padding-top:4rem;
    }
    
    .small-about, .small-about2 {
        display:none;
    } 
    .informationServices-about {
   
        font-size: 24px;
        line-height: 3.5rem; 
    }

}  
  /* .last {
      margin-bottom: 1rem;
  } */

  @media (min-width: 2560px)  {
    .decorAboutTitle {
        padding-top:8rem;
        font-size: 62px;
    }
    
    .small-about, .small-about2 {
        display:none;
    } 
    .informationServices-about {
        padding-top: 10rem;
        font-size: 44px;
        line-height: 6rem; 
    }

}  
  /* .last {
      margin-bottom: 10rem;
  } */
