.aboutStuff-container {
    /* background-color: #C4C4C4; */
    width:100%;
    height:auto;
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}
.containerabout {
    width:80%;
    margin: auto;
}
  .about-pics {
    margin: 0.5rem ; 
    width:auto; 
    height: 90%;
    align-items: center;
    border:5px solid #c0b8b8; 
}
.foto-stuff {
    width:100%;
    height: auto;
    
}

.color-goldy {
    color:#3A3939;
}
.stuff-about {   
 height:40px;
 border-top:2px solid #c0b8b8; 
 /* background-color: #e0d8d8; */
padding-top: 10px;
 font-size: small;
}   

