.servicesAbout-container {

    width: 100%;
    background-color: rgb(243, 237, 229);
    position: relative;
 
    height: auto;
    margin: auto;
    margin-bottom: 2rem;
    color: black;
    z-index: 1;

}

.img-here {
    width:90%;
    height:400px;
    background-image: url(../images/relax7_ccexpress.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.decorAboutTitle {
    padding-bottom: 1rem;
    font-size: 22px;
    color: rgb(44, 23, 32);
    letter-spacing: 0.5px; 
}
.informationServices-about {
   
    font-size: 12px;
    font-family: 'Cormorant Garamond', serif;
    background-color: none;
    color: rgb(87, 53, 75);
    letter-spacing: 0.5px;
    line-height: 1.2rem;  
   
    text-align: justify;

}


@media (min-width:1024px) {
    .informationServices-about {
        font-size: 18px; 
        line-height:2rem; 
    
    }
}

.colum-img1 {
    width: 50%;
    height: auto;
    background-image: url(../images/stuff1_ccexpress.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
}

.colum-img2 {
    width: 50%;
    height: auto;
    background-image: url(../images/stuff2_ccexpress.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


  .colum-img3 {
    width: 50%;
    height: auto;
    background-image: url(../images/stuff_ccexpress.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

