.blog-page {
    background-color: #e9ecef;
    width: 100%;
    height: auto;
   
    
    padding: 2rem;
    margin: auto;
    margin-bottom: 2rem;
}
/* .blog-1 {
    height:60vh;
 
    
   
} */
 .colums {
     border: 1px solid grey;
    padding:2rem;
 }


 .img_blog {
     width:80%;
     height:auto;
 }

  /* .blog-content {
     width:80%;
     height:auto;
     text-align: justify;
     overflow-y:scroll;

 }  */