/* 
.button {

    font-size: 5px;
    color: rgb(233, 38, 38);
    background: rgb(218, 141, 154);
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
  }
  
  .btn:hover {
    color: rgb(0, 212, 212);
    background: white;
  }

  @media (min-width: 270px)  {
    .btn {
      font-size: 0.5rem;
      color: rgb(20, 160, 20);
    }
    
  } */