
  
.btn {
    border: none;
    background: transparent;
    border: 1px solid black;
    padding: 6px 16px;
    font-size: 1.1rem;
    color: white;
    background: rgb(218, 141, 154);
    border-radius: 5px;
    transition: 0.3s all ease-out;
    cursor: pointer;
  }
  
  .btn:hover {
    color: rgb(0, 212, 212);
    background: white;
  }