.consultation {
  background-color: rgb(173, 202, 176);
  width: 90%;
  height: 60vh;
  margin: auto;
  /* margin-top: 6rem; */
  margin-bottom: 1rem;
}


.background-form {
  background-color: rgb(173, 202, 176);
  margin-bottom: 1rem;
}
.common-col {
  width: 100%;
  height: 70px; 

}

.column-last {
  border-bottom: 2px solid rgb(204, 223, 206);
}
.first-section {
  padding-top: 4rem;
}
.consultation-title {
  color: rgb(44, 23, 32);
  height:40px;
  font-size: 22px;
  letter-spacing: 0.5px;
}
.underline {
  height: 110px;
}


@media (min-width: 425px) {
  .consultation {
    height: 60vh;
  }
  .underline {
    height: 100px;
  }
}
@media (min-width: 500px) {
  .consultation {
    height: 60vh;
  }
  .underline {
    height: 120px;
  }
}


@media (min-width: 768px) {
  .consultation {
    height: 60vh;
  }
  .container-consultation {
    width:80%;
    margin: auto;
  }
  .underline {
    height: 110px;
  }
}

@media (min-width: 1024px) {
  .consultation {
    height: 60vh;
  }
  .container-consultation {
    width:80%;
    margin: auto;
  }
  .underline {
    height: 140px;
  }
  .consultation-title {
    height: 20px;
  }

}
@media (min-width: 1440px) {
  .consultation {
    height: 60vh;
  }
  .container-consultation {
    width:70%;
    margin: auto;
  }
  .consultation-title {
    font-size: 26px;
  }
  .underline {
    height: 180px; 
  }
}
@media (min-width: 2560px) {
  .consultation {
    width: 90%;
    height: 40vh;
  }
  .container-consultation  {
    width: 70%;
  }
  .consultation-title {
    font-size: 56px;
  }
  .underline {
    height: 250px;
  }
}
