.footer-container {
  
    background-color:#495057;
    width: 100%;
    height: auto; 
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  
  .img_logo { 
    position: absolute;
    top:30%;
    right: 2rem;
    width: 100px;
    height: auto;
    
  }
  
  .followUs {
    font-size: 14px;
  }
  .footer-col {
    
    height: 220px;
    padding-top: 2rem;
  }
  
  .footer-link-items {
 
    text-align: left;
    font-size: 14px;
    height:auto;
    color: aliceblue;
    box-sizing: border-box;
    text-decoration: none;
  } 
  .footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  .address {
    color:rgb(168, 184, 184);
  }

  .social-icons {
    position: absolute;
    bottom: 3rem;
    display: flex;
    justify-content: space-between;
   
    width: 80px;  
  }
  
  .social-icon-link {
    color: #fff;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    
  }

  @media (min-width:768px) {
    /* .footer-container {
      height: 40vh; 
    }
     */
    .img_logo {  
      top:30%;
      right: 4rem; 
    }
    
    .followUs {
      font-size: 18px;
    }
    .footer-col {  
      height: 220px;
      padding-top: 2rem;
    }
    
    .footer-link-items {
      text-align: center;
      font-size: 16px;
      height:auto;
      color: aliceblue;
      box-sizing: border-box;
      text-decoration: none;
    } 
 
    /* .address {
      color:rgb(168, 184, 184);
    } */
  
    .social-icons {
      position: absolute;
      bottom: 1rem;
      display: flex;
      justify-content: space-between;
      width: 100px;  
    }
    
  }
  @media (min-width:1440px) {
  
    .img_logo {  
      top:50%;
      right: 6rem; 
    }
    
    .followUs {
      font-size: 22px;
    }
    
    .footer-link-items {
      text-align: center;
      font-size: 18px;
      height:auto;
      color: aliceblue;
      box-sizing: border-box;
      text-decoration: none;
    } 
 
    /* .address {
      color:rgb(168, 184, 184);
    } */
  
    .social-icons {
      position: absolute;
      right: 6rem;
      display: flex;
      justify-content: space-between;
      width: 100px;  
    }
    
    .social-icon-link {
      color: #fff;
      font-size: 24px;
      font-family: 'Playfair Display', serif;
      
    }
  }
  
