.hero-container {
    position: relative;
    background-image: url(../images/woman.jpg); 
    margin-top: -5rem;
    background-size: 70% auto;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh ;
    position:relative;
    display: flex;
   border: 5px solid red;
    object-fit: contain;
    /* overflow: hidden; */
    z-index: -1;
  
}

 .hero-title {
     position: absolute;
     color: rgb(112, 113, 121);
     top:10%;
     left: 10%;
     font-size: 72px;
     font-family: 'Amatic SC', cursive;

 }
 

  @media (min-width: 270px) and (max-width: 450px) {
     .hero-container {
  
        background-size: 80% auto;
        background-position: center;
        background-repeat: no-repeat;
       
        height: 25vh;  
    } 
    .hero-title{ 
      font-size: 25px;
      margin-top: 4%; 
    }
  }
  @media (min-width: 451px) and (max-width: 899px) {
     .hero-container {
  
        background-size: 80% auto;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -5rem;
        height: 45vh;  
    } 
    .hero-title{
      font-size: 45px;
      margin-top: 2%; 
    }
  }


  @media screen and (min-width: 900px) {
    .hero-container {
  
      background-size: 70% auto;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: -4rem;
      height: 60vh;  
  } 

    .hero-title{
      font-size: 70px;
      margin-top: 5%; 
     
    }
  }
