.hero-container {
    position: relative;
    background-image: url(../images/woman.jpg); 
    margin-top: -2rem;
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh ;
    position:relative;
    display: flex;
    flex-direction: column; 
    object-fit: contain;
    /* overflow: hidden; */
    z-index: -1;
  
}

 .hero-title {
     position: absolute;
     color: rgb(112, 113, 121);
     top:10%;
     left: 10%;
     font-size: 72px;
     font-family: 'Amatic SC', cursive;

 }
 

  @media (min-width: 270px) and (max-width: 450px) {
    .hero-container {
  
        background-size: 80% auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 30vh;  
    }
    .hero-title{ 
      font-size: 25px;
      margin-top: 2%; 
    }
  }
  @media (min-width: 451px) and (max-width: 899px) {
    .hero-container {
  
        background-size: 80% auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 45vh;  
    }
    .hero-title{
      font-size: 45px;
      margin-top: 2%; 
    }
  }

  @media screen and (min-width: 900px) {
    .hero-container > .header {
      font-size: 20px;
      margin-top: 90px;
      margin-bottom:2rem;
    }
  
    .hero-container > .header1 {
      font-size: 50px;
    }
   
  } 

  @media screen and (min-width: 1001px) {
    .hero-container {
       
        background-size: 60% auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 60vh;
      
      
    }
    .hero-title{
      font-size: 70px;
      margin-top: 5%; 
     
    }
  }
