.hero-container {
    position: relative;
    background-image: url(../images/woman.jpg); 
    margin-top: -2rem;
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh ;
    position:relative;
    display: flex;
    flex-direction: column; 
    object-fit: contain;
    /* overflow: hidden; */
    z-index: -1;
  
}

 .hero-title {
     position: absolute;
     color: rgb(24, 64, 87);
     top:10%;
     left: 10%;
     font-size: 72px;
     font-weight: bold;
     font-family: 'Annie Use Your Telescope', cursive;
     font-family: 'Annie Use Your Telescope', cursive;
 }
 

  @media (min-width: 300px) and (max-width: 1000px) {
    .hero-container {
       
        background-size: 80% auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 30vh;
      
      
    }
    .hero-title{
      font-size: 20px;
      margin-top: 10%; 
     
    }
  

  }



   @media screen and (min-width: 1001px) {
    .hero-container {
       
        background-size: 60% auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 30vh;
      
      
    }
    .hero-title{
      font-size: 20px;
      margin-top: 10%; 
     
    }
  

  }


  @media screen and (min-width: 900px) {
    .hero-container > .header {
      font-size: 20px;
      margin-top: 90px;
      margin-bottom:2rem;
    }
  
    .hero-container > .header1 {
      font-size: 40px;
    }
   
  } 
  @media screen and (min-width: 1100px) {
    .hero-container > .header {
      font-size: 30px;
      margin-top: 120px;
      margin-bottom:2rem;
    }
  
    .hero-container > .header1 {
      font-size: 60px;
      margin-top: -40px;
    }
    
  } 