.homeImages-container {
 
    background-color: transparent;
    width: 90%;
    height:45vh;
    margin: auto;
    margin-top: -3rem;
}
 
.row {
  width:100%; 
  height: auto; 
  margin: auto;

}
.underline {

    background-image: url(../images/heart.png); 
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
    height:100px;
    margin-bottom: 2rem;
}
.homeImages-title {
  
    height:40px;
     font-size: 22px;
}
 .col-all, .col-all1 {
 

    width: 100%;
    height:80px;
    margin: auto;
    margin-bottom: 0;
 }
.r1-1 {
    
  background-image: url(../images/hi1.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
}

.r1-2 {

  background-image: url(../images/hi2.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.r1-3 {

  background-image: url(../images/hi3.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.r2-1 {

  background-image: url(../images/y5.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.r2-2 {

  background-image: url(../images/three.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.r2-3 {

  background-image: url(../images/two.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 375px) {
  .homeImages-container {
  
    background-color: transparent;
    width: 90%;
    height:50vh;
    margin: auto;
    
}
.underline {
  
  height:90px;
  margin-bottom: 2rem;
}
.homeImages-title {
  
  height:30px;
   font-size: 26px;
}
.col-all, .col-all1 {
 

  width: 100%;
  height:100px;
  margin: auto;
  margin-bottom: 0;
}
}
@media (min-width: 425px) {
  .homeImages-container {
    width: 90%;
    height:45vh;
    margin: auto;
    margin-top: -4rem;
}
.underline {

  height:80px;
  margin-bottom: 2rem;
}
.homeImages-title {
  
  height:30px;
   font-size: 26px;
}

}
@media (min-width: 768px) {
  .homeImages-container {
    width: 90%;
    height:55vh;
    margin: auto; 
    
  
}
.underline {
  width: 100%;
  height:70px;
 
}
.homeImages-title {
  height:10px;
  font-size: 26px;
}

}

@media (min-width: 1024px) {
  .homeImages-container {
    width: 90%;
    height:55vh;
    margin: auto;
    margin-top: -4rem;
}
.underline {
 
  height:100px;
}
.homeImages-title {
 
  height:30px;
 font-size: 26px;
 margin-top: 3rem;
}
.col-all, .col-all1 {
  

  width: 100%;
  height:200px;
  margin: auto;
  margin-bottom: 0;
}


}
@media (min-width: 1440px) {
  .homeImages-container {
    width: 90%;
    height:55vh;
    margin: auto;
    /* margin-top: -4rem; */
}
.underline {
  width: 100%;
  height:100px;
}
.homeImages-title {
 
  height:50px;
 font-size: 26px;
 margin-top: -1rem;
}
.col-all, .col-all1 {
 

  width: 100%;
  height:250px;
  margin: auto;
  margin-bottom: 0;
}


}