.servicesAbout-container {
    background-color: #f0efeb;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: auto;
    height: auto;
    color: black;
   
}
.informationServices-about {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: rgb(43, 39, 39);
    letter-spacing: 0.5px;
    line-height: 2rem;  
    padding: 2rem;
}

.colum-about{
   
    text-align: center;
    padding: 2rem;

} 
 /* .image-about1, .image-about2 {
    width: 50%;
  
 
 }  */
.colum-img1 {
    margin-top: 1rem;
    background-image: url(../images/AP.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
}

.colum-img2 {
    background-image: url(../images/AP1.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
}

/* 
  .small-about {
    background-image: url(../images/m5.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  } */

  .colum-img3 {
    background-image: url(../images/AP2.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
}

.colum-img4 {
    background-image: url(../images/AP3.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1rem;
}


  .small-about2 {
    background-image: url(../images/m6.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }

 @media (min-width: 270px) and (max-width:767px) {
  
    .informationServices-about {
        font-size: 12px;
        font-family: 'Playfair Display', serif;;
        color: rgb(126, 125, 125);
        letter-spacing: 0.5px;
        line-height: 1.2rem; 
    }
   
    .colum-img1, .colum-img2, .small-about, .colum-img3, .colum-img4, .small-about2 {
      
        height: 300px;
       
    }
    
}  
 h3 {
    font-family: 'Playfair Display', serif;
 }
@media (min-width: 768px)  {
   .servicesAbout-container {
       width: 100%;
       height: auto;
   }
    .small-about {
        display:none;
    }
 
  
    
}  
@media (min-width: 991px)  {
    .servicesAbout-container {
        width: 100%;
        height: auto;
    } 
    /* .colum-about{
        width: 100%;
        height: 30vh;
    }
    
    .colum-img1, .colum-img2{
        width: 100%;
        height:auto;
        
    } */
   
    .small-about,  .small-about2 {
        display:none;
    }
    .informationServices-about {
        /* margin: 5rem; */
        font-size: 14px;
        font-family: 'Playfair Display', serif;
        color: rgb(43, 39, 39);
        letter-spacing: 0.5px;
        line-height: 1.5rem; 
        height: auto;
    } 
   
}  
@media (min-width: 1400px)  {
    .small-about, .small-about2 {
        display:none;
    } 
    .informationServices-about {
   
        font-size: 14px;
        line-height: 2rem; 
    }

}  
  .last {
      margin-bottom: 1rem;
  }
