  .slider-container  {

    width: 100%;
    background-color: #edf0f1;
    padding-bottom: 2rem;
  }
  .img-y {
    
    width: 50%;
    height: 20%;
    object-fit: cover;
  }
 
  .title-slider {
    margin: auto;
    text-align: center;
  } 