.massage-container {
    background-color: #e6edee ;
    margin: 3rem auto 0 auto;
    width: 100%;
    height: auto;
    padding: 1rem 2rem 2rem 2rem  ;
   
}

 .img-m {
    width: 100%;
    padding: 1rem;
    height: auto; 
}  