.mygallery {

  width: 100%;
  
   margin: auto;
   background-image:url(../images/relax18.jpg);
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
    height: auto;
    padding-bottom: 1rem;
} 
.size-smaller {
  width:80%;
}
.title-gallery {
  background-color: none;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
}
.card_inside {
    margin: auto;
    margin-bottom: 1rem;
    height: 200px; /* [1.1] Set it as per your need */
    overflow: hidden;
} 
.card_inside img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.card_inside:hover img {
  transform: scale(1.5);
}
