 .navbar-container {
  position: sticky; 
  top: 0;
  z-index: 2;
  /* overflow: hidden; */
 }

.navbar {
  background-color:transparent;
  width: 100%;
  height: 80px;
  display: flex;
  position: -webkit-sticky;
   
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
 
}
.navbar.active {
  color: #fff;
  background-color: rgba(42, 49, 75, 0.5);
  
}

.navbar-logo {
  color:  rgb(250, 7, 88);
  text-decoration: none;
  font-size: 60%;
  display: flex; 
  align-items: right;
  width: 9rem;
 margin-left: 10%;

}

.nav-items {
  width: 65vw;
  display: flex;
  justify-content: flex-end; 
  margin-right: 2rem;
}

.nav-item {
  list-style: none;
  margin-left: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: rgb(75, 71, 71);
  font-size: 1.2rem;
  padding: 6px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s all ease-out;
}

.nav-item a:hover {
  background: rgb(105, 147, 175);
}

.nav-item a span {
  margin-left: 0.6rem;
  font-size: 1.3rem;
}

.sidebar-toggle {
  width: 65vw;
  display: flex;
  justify-content: flex-end;
}

.sidebar-toggle-logo {
  position: absolute;
  font-size: 1rem;
  color: rgb(179, 7, 87);
  cursor: pointer;
  right: 5%;
  top: 25px;
}

.sidebar {
  width: 16rem;
  background: rgba(27, 25, 25, 0.5);
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: -100%;
  transition: 0.3s all ease-in-out;
}

.sidebar.active {
  left: 0;
}

.sidebar-items {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.2s all ease-out;
}

.sidebar-item {
  list-style: none;
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
}

.sidebar-item a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-out;
}

.sidebar-item a span {
  margin-left: 1.5rem;
  font-size: 1.4rem;
}

.sidebar-item a:hover {
  background: rgb(245, 231, 229);
}

.sidebar .btn {
  margin-top: 2.4rem;
  width: 100%;
}
/* @media screen and (min-width: 300px) {
  .sidebar.active {
    width: 70%;
  }

  .sidebar-item a span {
    display: block;
  }
} */
@media screen and (max-width: 900px) {
  .sidebar.active {
    width: 70%;
  }

  .sidebar-item a span {
    display: block;
  }
}