.container-price  {
    background-color: rgb(193, 197, 194);
    width: 80%;
    height:40vh;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* .common-colums {
    border:1px solid red;
} */

