.price  {
    background-color: #eeddd3;
    color: rgb(39, 20, 28);
    width: 100%;
    height:auto;
    margin: auto;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
} 


.price-col{
    
    background-color: #fff1e6;
    width: 80%;
    height: auto;
    margin: auto;
    
}

.price-title {
    color: rgb(44, 23, 32);
    height:40px;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-family: 'Cormorant Garamond', serif;
}
.underline1 {

    background-image: url(../images/heart.png); 
    background-size: 80%;
    background-repeat: no-repeat; 
    background-position: bottom;
    height:110px;
   

}

.title_price {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    height: 60px ;
    background-image: url(../images/heart.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Cormorant Garamond', serif;
}
  
   
.digits_price {
    text-align: center;
    font-size: 15px;
    
}
.text_price {
    text-align: center;
    font-size: 12px;
    line-height: 1rem;
    letter-spacing: 1px;
    font-family: 'Cormorant Garamond', serif;
    
}

.but_price {
    width: 30%;
    
}
.link_price {
    color: rgb(39, 20, 28);
    text-decoration: none;
}
@media (min-width:375px) {
    .text_price {
        text-align: center;
        font-size: 12px;
        line-height: 1.5rem;
    }
}
@media (min-width:768px) {
    /* .price  {
        height:80vh;
    } 
   */
    .price-col{
    
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 1rem;
        margin-bottom:1rem
    }
    .but_price {
        width: 40%;  
    }
    .price-title {
    
        height: 30px;
    }
    .underline1 {
 
        height: 150px;
    }
}



@media (min-width:1024px) {
    /* .price  {
        height:8autop;
        margin-top: 15rem;
    }  */
    .price-title {
        font-size: 26px;
        height: 20px;
    }
    .underline1 {
        height: 180px;
    }
    .price-col{
    
        width: 80%;
        height: auto;
        margin: auto;
        
        margin-bottom:1rem
      
    }
    .title_price {
        font-size: 22px;  
    }
    .digits_price {
        font-size: 20px;  
    }
    .text_price {
        font-size: 18px; 
        line-height:2rem; 
    } 
    .but_price {
        width: 50%;  
    }
}
@media (min-width:1440px) {
    .price  {
        height:75vh;
    } 
    .price-title {
        font-size: 26px;
    }
    .underline1 {
        height: 200px;
    }
    .price-col{
        width:80%;
        height: 400px;
        margin-top: 1rem;
        margin-bottom:1rem
      
    }
    .title_price {
        font-size: 22px;  
    }
    .digits_price {
        font-size: 20px;  
    }
    .text_price {
        font-size: 18px; 
        line-height:2rem; 
    } 
}
@media (min-width:1700px) {
    .price  {
        height:80vh;
        margin-top: 13rem;
    } 
   
    .underline1 {
        height: 250px;
    }
    .price-col{
    
        width: 80%;
        height: 400px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom:1rem
      
    }
    
}
@media (min-width:2560px) {
    .price  {
        height:70vh;
        margin-top: 15rem;
    } 
    .price-title {
        font-size: 56px;
        height: 20px;
    }
    .underline1 {
        height: 300px;
    }
    .price-col{
    
        width: 80%;
        height: 600px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom:1rem
      
    }
    .title_price {
        font-size: 42px;
        height: 100px;  
    }
    .digits_price {
        font-size: 35px;  
    }
    .text_price {
        font-size: 30px; 
        line-height:3rem; 
    } 
    .but_price {
        width: 40%;  
        height: 80px;
    }
    .link_price {
        font-size: 30px;
    }
}