.price  {
    background-color: #eeddd3;
    color:rgb(139, 118, 131);
    width: 90%;
    height:145vh;
    margin: auto;
    margin-bottom: 2rem;
} 

/* .container-price {
    width: 100%; 
    height:100vh;
    margin: auto;
} */
.price-col{
    
    background-color: #fff1e6;
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 1rem;
   
}
.price-title {
    font-size:22px;
    font-family: 'Cormorant Garamond', serif;
}
.underline1 {

    background-image: url(../images/heart.png); 
    background-size: 80%;
    background-repeat: no-repeat; 
    background-position: bottom;
    height:110px;
   

}

.title_price {
    text-align: center;
    font-size: 18px;

    height: 60px ;
    background-image: url(../images/heart.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom;}
   
.digits_price {
    text-align: center;
    font-size: 15px;
    
}
.text_price {
    text-align: center;
    font-size: 12px;
    line-height: 1rem;
}

.but_price {
    width: 30%;
    
}
.link_price {
    color:rgb(139, 118, 131);
    text-decoration: none;
}
@media (min-width:375px) {
    .text_price {
        text-align: center;
        font-size: 12px;
        line-height: 1.5rem;
    }
}
@media (min-width:768px) {
    .price  {
        background-color: #eeddd3;
        color:rgb(139, 118, 131);
        width: 90%;
        height:80vh;
        margin: auto;
    } 
  
    .price-col{
    
        width: 100%;
        height: 400px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom:1rem
    }
    .but_price {
        width: 30%;  
    }
    .price-title {
    
        height: 30px;
    }
    .underline1 {
 
        height: 150px;
    }
}


@media (min-width:1024px) {
    .price  {
        background-color: #eeddd3;
        color:rgb(139, 118, 131);
        width: 90%;
        height:65vh;
        margin: auto;
        margin-top: 15rem;
    } 
    .price-title {
    
        height: 20px;
    }
    .underline1 {
 
        height: 150px;
    }
    .price-col{
    
        width: 100%;
        height: 300px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom:1rem
      
    }
}
@media (min-width:1024px) {
    .price  {
       
        width: 90%;
        height:85vh;
        margin: auto;
        margin-top: 15rem;
    } 
    .price-title {
        font-size: 26px;
        height: 20px;
    }
    .underline1 {
        height: 180px;
    }
    .price-col{
    
        width: 100%;
        height: 400px;
        margin: auto;
        
        margin-bottom:1rem
      
    }
    .title_price {
        font-size: 22px;  
    }
    .digits_price {
        font-size: 20px;  
    }
    .text_price {
        font-size: 18px; 
        line-height:2rem; 
    } 
}
@media (min-width:1440px) {
    .price  {
       
        width: 90%;
        height:75vh;
        margin: auto;
        margin-top: 15rem;
    } 
    .price-title {
        font-size: 26px;
        height: 20px;
    }
    .underline1 {
        height: 200px;
    }
    .price-col{
    
        width: 100%;
        height: 400px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom:1rem
      
    }
    .title_price {
        font-size: 22px;  
    }
    .digits_price {
        font-size: 20px;  
    }
    .text_price {
        font-size: 18px; 
        line-height:2rem; 
    } 
}
@media (min-width:1700px) {
    .price  {
      
        height:80vh;
        margin: auto;
        margin-top: 13rem;
    } 
   
    .underline1 {
        height: 250px;
    }
    .price-col{
    
        width: 100%;
        height: 400px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom:1rem
      
    }
    
}
@media (min-width:2560px) {
    .price  {
       
        width: 90%;
        height:70vh;
        margin: auto;
        margin-top: 15rem;
    } 
    .price-title {
        font-size: 56px;
        height: 20px;
    }
    .underline1 {
        height: 300px;
    }
    .price-col{
    
        width: 100%;
        height: 600px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom:1rem
      
    }
    .title_price {
        font-size: 42px;
        height: 100px;  
    }
    .digits_price {
        font-size: 35px;  
    }
    .text_price {
        font-size: 30px; 
        line-height:3rem; 
    } 
    .but_price {
        width: 40%;  
        height: 80px;
    }
    .link_price {
        font-size: 30px;
    }
}