.cont-services {
    position: relative;
    width:90%;
    margin: 0 auto;
    margin-bottom: 1rem;
    height:auto;
    overflow:hidden; 
    background-image: url(../images/wave.png); 
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: centertop center;
   
} 
.golden-el {   
     width:100%;
    height:auto;
    margin: auto;
    margin-bottom: 1rem;
   
    
}
.title_services {
  font-size: 20px;
  color: rgb(233, 223, 223);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
}
.title_content {
    color: rgb(233, 223, 223);
    font-family: 'Cormorant Garamond', serif;
}
.golden-text {
   height: 100px;
   color:rgb(238, 227, 233);
   font-size: 32px;
   text-shadow: 2px 2px rgb(138, 97, 97);
 
}
.text-center {
    color:rgb(77, 69, 60);
    font-family: 'Cormorant Garamond', serif;
}
.one, .two, .three {
    width:100%;
    height: 100px;
}

.first{
    color: rgb(233, 223, 223);
    background-color: transparent;
    padding: 1rem;
    margin: 1rem;
    width:100%;
    height:auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.one {
    background-image: url(../images/one.jpg); 
     background-size: cover;
    background-position: center;
}
.two {
    background-image: url(../images/two.jpg); 
     background-size: cover;
    background-position: center;
}
.three {
    background-image: url(../images/three.jpg); 
     background-size: cover;
    background-position: center;
}

.link_services {
    position: absolute;
    bottom:10px;
    right:10px;
    text-decoration: none;
    color:#f0d1d1;
    background-color:rgb(228, 176, 176, 0.5) ;
    border: 1px solid rgb(204, 169, 169);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}
